.Nav{
    justify-content: center;
    text-align: center;
    background-color: black;
    padding: 30px 170px 30px 170px
}

.NavbarWrapper{
    list-style-type: none;
    margin: 0;
    padding: 0;
    justify-content: center;
}
.NavLogo{
    float: left;
    font-size: 25px;
    font-weight: 900;
    margin: -8px 2px 1px 15px;
    transition:  .2s ease-in;
}

.NavElements{
    display: inline;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-weight: 200;
    padding: 10px 20px 10px 20px;
}

.NavButton{
float: right;
background-color: red;
border-radius:30px;
padding: 15px 20px ;
margin: -8px 2px 1px 2px;

}

.Link{
    text-decoration: none;
    color: white;
}

.active{
    cursor: pointer;
    color: red;
 
}

.Icon{
    display: none;
    color: white;
    font-size: 25px;
    cursor: pointer;
}

@media  (max-width: 925px) {
    .Nav{
        padding: 25px 0px ;
    }
    .NavElements{
        display: none;
    }
    .NavButton{
        display: none;
    }
    .Icon{
display: inline;
position: relative;
left: 35%;
    }
}